@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@500;600;700&family=Work+Sans:wght@400;500;700&display=swap");
.container {
  width: 100%;
}

/* styling the header Section */
.header {
  height: 100vh;
  background-color: var(--background);
}
.header__image {
}
.header__links > ul {
  display: flex;
  justify-content: center;
  column-gap: 64px;
  cursor: pointer;
  align-items: center;
}

.header__button {
  outline: 1px solid var(--yellow);
  padding: 21px 28px;
  cursor: pointer;
  color: var(--yellow);
  background: rgba(233, 215, 167, 0.1);
  margin-left: 161px;
}

/* styling the header content */
.header__content {
  width: 100%;
  padding-top: 139px;
  display: grid;
  grid-template-columns: 710px 558px;
  max-width: 1367px;
  margin: auto;
  column-gap: 99px;
}
.yellow {
  color: var(--yellow);
}
